html,body{
  height: 100%;
}

body {
  font-family: "Roboto","Noto Sans TC", sans-serif;
  background-image:url(https://i.imgur.com/P9MNu36.gif);
  background-repeat:no-repeat;
  background-position:bottom left;
  background-size: auto;
  background-color:#FFE66F;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wrap_text{
  width: 100%;
  font-family: "Fredoka One","Roboto";
  font-size: 4vw;
  text-align: center;
  margin-left: 36%;
  margin-bottom: -5%;

}

.wrap_bg{
  position: absolute;
  right: 0;
  bottom:0;
}

.container{
    width: 100%;
    margin: 0 30%;
    position: relative;
    left:18%;
  }

.calendar{
  width: 100%;
  background-color:#FFF4C1;
  border-radius: 15px;
  border: 5px solid #000;
  margin-bottom: 1%;
}

table {
  width: 100%;
}

tr,td {
  width: 3rem;
  height:4.5vw;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  line-height: 3vw;
}

.holiday{
  font-size: 10px;
  display: block;
  color:rgb(38, 31, 128);
  font-weight: bold;
  line-height: 1;
}



table td:first-child {
  color: red;
  font-weight: bold;

}

table tr:nth-child(1) td:nth-child(1){
  border-radius: 10px 0 0 0 ;
}

table tr:nth-child(1) td:nth-child(7){
  border-radius: 0 10px 0 0 ;
}

table tr:first-child {
  background-color: rgb(226, 218, 169);
}

table td:last-child {
  color: #00cc00;
  font-weight: bold;
}

.today{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #FFE66F;
  border-radius: 40px;
  line-height: 40px;
}

.btn {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}

.btn a{
  margin: 0 2%;
  text-decoration: none;
  color: #ffffff;
  background-color:rgb(196, 79, 79);
  padding:0.6rem 0.9rem;
  border-radius:10px;
  position: relative;
  overflow: hidden;
  font-size: 0.8rem;
}

.btn .nextM::after,.btn .nextM::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  background-color: rgba(255,255,255,0.25);
  transition: all 0.3s;
  transition-timing-function: linear ;
  transform: translate(-100%,0);

}

.btn .nextM:hover::after{
  transform: translate(100%,0);
}

.btn .nextM:hover::before{
  transform: translate(100%,0);
  transition-delay: 0.3s;
}

.btn .lastM::after,.btn .lastM::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  background-color: rgba(255,255,255,0.25);
  transition: all 0.3s;
  transition-timing-function: linear ;
  transform: translate(100%,0);
}
.btn .lastM:hover::after{
  transform: translate(100%,0);
}

.btn .lastM:hover::before{
  transform: translate(-100%,0);
  transition-delay: 0.3s;
}

select{
  width: 5vw;
  height: 2vw;
  text-align: center;
  text-align-last: center;
  background-color: #FFF4C1;
  border-radius: 10px;
  border-color: chocolate;
}

select[name="month"]{
  width: 3vw;
}

input[type="submit"]{
  font-size: 0.8rem;
  width: 2.5vw;
  height: 2vw;
  font-family: "Roboto","Noto Sans TC", sans-serif;
  background-color: #FFF4C1;
  border-radius:10px;
  border:1px solid chocolate;
  cursor: pointer;
  padding: 0 2%;
}

input[type="submit"]:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: none;
}

select:focus,input[type="submit"]:focus{
  outline:none;
}

.btn .thisM{
  background-color: rgb(30, 78, 64);
  color: #fff;
}

.btn .thisM:hover{
  background-color: rgb(92, 231, 155);
}

.time_now{
  font-size: 4vw;
  position: absolute;
  top:0;
  left:0;
  margin-left: 13%;
  margin-top: 10%;
}


.time{
  font-family: "Fredoka One","Roboto";
  color: rgb(77, 74, 74);
}

#clock{
  font-family: "Fredoka One","Roboto";
  color: rgb(77, 74, 74);
  margin-left: 10%;
}

@media screen and (min-width:1300px) and (max-width:1500px){
  tr,td{
    font-size: 1.2rem;
  }
}

@media screen and  ( min-width:1024px) and (max-width:1299px){
body{
  background-size:50%;
}
.wrap .wrap_text{
  font-size: 4vw;
}
.wrap_bg{
  display: none;
}

tr,td {
width: 3rem;
height:3rem;
line-height: 3rem; 
}



.btn {
  flex-direction: column;
  position: fixed;
  right:-45%;
  bottom: 10%;
}

select{
  width: 5.5vw;
  display: block;
  margin: 10px 0;
  padding: 2px;
}

select[name="month"]{
  width: 5.5vw;
}

input{
  display: block;
  margin: 10px 0;
}

input[type="submit"]{
  width: 5vw;
}

.btn a{
  margin: 10px 0;
}

.time_now{
  margin-left: 15%;
  margin-top: 5%;
}
}

@media screen and  ( min-width:800px) and (max-width:1023px){
  body{
    background-size:50%;
  }
  .wrap_text{
    font-size: 4vw;
    margin-left: 35%;
  }
  .wrap_bg{
    display: none;
  }
  
  tr,td {
  width: 2.5rem;
  height:2.5rem;
  line-height: 2.5rem; 
  font-size: 1rem;
  }

  .holiday{
    font-size: 10px;
    display:block;
    font-weight: normal;
 
  }
  
  .btn {
    flex-direction: column;
    position: fixed;
    right:-45%;
    bottom: 10%;
  }
  
  select{
    width: 6vw;
    display: block;
    margin: 5px 0;
    padding: 2px;
    font-size: 12px;
  }
  
  select[name="month"]{
    width: 6vw;
  }
  
  input{
    display: block;
    margin: 5px 0;
  }
  
  input[type="submit"]{
    width: 6vw;
  }
  
  .btn a{
    margin: 5px 0;
  }
  
  .time_now{
    margin-left: 15%;
    margin-top: 5%;
  }
  .today{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #FFE66F;
    border-radius: 30px;
    line-height: 30px;
  }
}

@media screen and  ( min-width:600px) and (max-width:799px){
  body{
    background-image:none;
    flex-direction: column;
  }

  .container{
    width: 70%;
    margin:0 auto;
    position: static;

  }

  .wrap_bg{
    display: none;
  }

  .wrap_text{
    margin:0 auto;

  }
  .time_now{
    position: static;
    margin:0 auto;
  }

  tr,td{
    font-size:12px;
    
  }

  .holiday{
    font-size:10px;
  }


  
}
